html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  text-decoration: none;
  color: inherit;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
}

.flag {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.details-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  min-height: 100vh; /* важно для фона */
  background-color: inherit;
}

.details-content {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
}

.details-flag {
  width: 320px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.details-text {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.7;
}

.back-button {
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.back-button:hover {
  text-decoration: underline;
}

.light {
  background-color: #f2f2f2;
  color: #111;
}

.dark {
  background-color: #202c37;
  color: #fff;
}

.dark .card {
  background-color: #2b3945;
  border: 1px solid #444;
}

.card {
  width: 100%;
  max-width: 250px;
}


.dark .back-button {
  color: #fff;
}

@media (max-width: 600px) {
  .details-content {
    flex-direction: column;
    align-items: center;
  }

  .details-flag {
    width: 100%;
    max-width: 300px;
  }

  .details-text {
    max-width: 100%;
    text-align: center;
  }

  .card {
    max-width: 90%;
  }
}

